@import url(./assets/css/root.css);
*{
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}
.opacity_70{
  opacity: 70%;
}
@font-face {
  font-family: 'Acumin-RPro';
  src: url(./assets/fonts/Acumin-RPro.otf);
}
@font-face {
  font-family: 'Acumin-BdPro';
  src: url(./assets/fonts/Acumin-BdPro.otf);
}
@font-face {
  font-family: 'TitlingGothicFBCond';
  src: url(./assets/fonts/TitlingGothicFBCond-Bold.ttf);
}
.Font_Acumin_Pro{
  font-family: "Acumin-RPro", sans-serif;
}
.Font_Acumin_Pro_bold{
  font-family: "Acumin-BdPro", sans-serif;
}
.Font_TitlingGothicFBCond{
  font-family: "TitlingGothicFBCond", sans-serif;
}

.hero_bg{
  background-image: url(./assets/images/webp/herobg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.orangeSvg1{
  height: 24px;
  width: 24px;
  background: #FA6A00;
  border-radius: 100px;
}
.nav_Box{
  background: white;
  border-radius: 16px;
  padding: 4px;
}
.nav_logo{
  max-width: 75px;
  height: 63px;
}
.common_btn{
  padding: 0 20px;
  border-radius: 84px;
  min-height: 50px;
  box-shadow: 0px 0px 26.2px 0px #FA6A0099;
  border: 1px solid var(--orange);
}
.nav_links{
  transition: all 400ms linear;
}
.nav_links:hover{
  color: var(--orange);
}
.transparent_div{
  max-width: 544px;
  backdrop-filter: blur(10px);
  min-height: 71px;
}
.future_bg{
  background-image: url(./assets/images/webp/future0fcar.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.car_process_img{
  max-width: 558px;
  min-height: 584px;
}
.IceBlaster{
  right: 0;
  max-width: 728px;
  width: 50%;
  top: 19.5%;
}
.IceWork{
  max-width: 641px;
  width: 50%;
  top: 44.5%;
}
.small_img{
  max-width: 70px;
}
.play_btn{
  top: 50%;
  left: 50%;
  transform: translate( -50% , -50%);
}
.service_bg{
  background-image: url(./assets/images/webp/ServiceBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*================ gap =========== */
.gap_10{
  gap: 10px;
}
.gap_20{
  gap: 20px;
}
.gap_12{
  gap: 12px;
}
.gap_28{
  gap: 28px;
}
/*=============== margin and paddings=========== */
.py_14{
  padding-top: 14px;
  padding-bottom: 14px;
}
.px_12{
  padding-left: 12px;
  padding-right: 12px;
}
.heading_padding_top{
  padding-top: 85.5px;
}
.future_padding_top{
  padding-top: 82px;
}
.future_padding_bottom{
  padding-bottom: 80px;
}
.ice_blasting_paddings{
  padding-top: 117px;
  padding-bottom: 118px;
}
.blasting_work_paddings{
  padding-top: 153px;
  padding-bottom: 153px;
}
.effective_padding_bottom{
  padding-bottom: 121px;
}
.margin_top_40{
  margin-top: 40px;
}
.mt_13{
  margin-top: 13px;
}
.mt_20{
  margin-top: 20px;
}
.pt_28{
  padding-top: 28px;
}
.pb_34{
  padding-bottom: 34px;
}
.padding_top_40{
  padding-top: 40px;
}
.section_margin_top{
  margin-top: -100px;
  z-index: 12 !important;
}

/*=============== max-widths================ */
.max_width_730{
  max-width: 730px;
}
.max_width_592{
  max-width: 592px;
}
.max_width_1230{
  max-width: 1230px;
}






@media (min-width:1200px) and (max-width:1440px) {
  .max_width_1140{
    max-width: 1140px;
  }
}